:root{
  --black-color: #111111;
  --orange-color: #f36100;
  --white-color: #ffffff;
  --sameWhite-color:#CCC;
}
body{
  background-color: var(--black-color);
}
.title{
  color: var(--orange-color);
  padding-left: 85px;
}
#container1{
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 370px;
  padding: 40px 20px;
}
#container2{
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 280px;
  padding: 20px 20px;
}
#container3{
  background-color: #FFFFFF;
  border-radius: 10px;
  height: 320px;
  padding: 20px 20px;
}
#btn_update_profile{
  border: none;
  background-color: #FFFFFF;
}
#btn_update_profile:focus{
  outline: none;
}
#btn_blue{
  margin-top: 20px;
  background-color: var(--orange-color);
  border-radius: 10px;
  color: #FFFFFF;
  width: 350px;
}
#btn_blue_small{
  margin-top: 20px;
  background-color: var(--orange-color);
  border-radius: 10px;
  color: #FFFFFF;
  width: 100px;
  margin-left: auto;

}
#btn_white_small{
  color: var(--orange-color);
  border-radius: 10px;
  border-color: var(--orange-color);
  background-color: #FFFFFF;
  width: 100px;
  margin-left: auto;
}
#btn_blue:hover ,#btn_blue_small:hover{
  background-color: #bb4b00;
}
#btn_white_small:hover{
  background-color: #cfcdcd;
}
#form-container{
  text-align: end;
}
label{
  color: var(--orange-color);
  font-weight: bold;
}
input{
  border-radius: 10px;
  background-color: var(--sameWhite-color);
  width: 400px;
}