<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


    <!-- Jquary css -->
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
<link rel="stylesheet" href="../Libraries/Jq+bot/bootstrap.min.js">
<link rel="stylesheet" href="../Libraries/Jq+bot/main.js">
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css">
<link rel="stylesheet" href="../css/view-members.css">

<!-- preloading -->
<link rel="stylesheet" href="../css/loading.css">

</head>
<body>
 
    

 <!--  Preloder -->

 <div id="loader">
    <div class="spinner"></div>
</div>

<!--  preloder was end -->


    <div class="container">
    
        <div class="center">

            <div class="text_part">
                <h2>view members</h2>
        
            </div> 
           
            <table id="example" class="display" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </thead>
                <!-- <tfoot>
                    <tr>
                        <th>Name</th>
                        <th>Position</th>
                        <th>Office</th>
                        <th>Extn.</th>
                        <th>Start date</th>
                        <th>Salary</th>
                    </tr>
                </tfoot> -->
            </table>

        </div>
    

    </div>






    <!-- Jquary js  -->
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.2/moment.min.js"></script>
<script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script>

 <script src="../views/view-members.js"></script>
    <script src="../Libraries/Jq+bot/bootstrap.min.js"></script>
    <script src="../Libraries/Jq+bot/main.js"></script>

    <!-- preloading -->
    <script src="../javaScript/loading.js"></script>
<!--     
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdn.datatables.net/2.0.2/js/dataTables.js"></script> -->
</body>
</html>